<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rohit</title>
</head>
<body>
    <center><h1>ro-hit-man</h1></center>
    <center><h3><p>Rohit Sharma is a senior right-arm batsman and occasional right-arm bowler. He is known for his beautiful stroke play and is among the best batsmen in the world in limited overs cricket. Rohit Sharma made his international debut for India in June 2007 and has since become a part of the Indian national cricket team</p></h3></center>

</body>
</html>