<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virat</title>
</head>
<body>
    <center><h1>king kohli</h1></center>
    <center><h1><p>The name “King Kohli” was given to him by Kunal Gandhi, a fan of him for his amazing batting strategies. Whereas, he is also called “Captain Fearless” for his incredible captaincy and for facing the situation boldly. He is loved by his fans. Whatever the nickname, the love the player receives from the fans is eternal.</p></h1></center>
</body>
</html>